:host{
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textWrapper{
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
}
