@import '~src/app-vars';
@import '~@angular/material/theming';

.checkboxList{
  margin: 0;
  padding-left: 0em;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#title{
  margin-bottom: .25em;
  //background-color: red;
}

.checkboxWrapper{
  padding: .5em;
  border-radius: 5px;
  //border: solid #AAA;
  @include mat-elevation(2);
  display: flex;
  align-items: center;
}

.checkboxText{
  white-space: normal;
  padding-left: 10px;
  //background-color: pink;
  cursor: pointer;
  user-select: none;
  flex: 1 1 0;
}



