@import '../../app-vars';

:host{
  display: block;
  text-align: right;
  max-width: $app-max-width;
  box-sizing: border-box;
  margin: auto;
  padding-top: 8px;
  //background: red;
}

#logoutDiv{
  color: white;
}

#adminLinkWrapper{
  margin-right: .5em;
}

#adminLink{
  color: $white-ish;
  margin-bottom: 3px;
}


.littleButton{
  //background: green;
  line-height: 25px;
  height: 25px;
  width: 25px;
  margin-left: .5em;
  //margin-right: 1.5em;
}
