/* You can add global styles to this file, and also import other style files */

$app-max-width: 800px;
$app-indented-width: 700px;

// https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8
$white-ish: #FFF;
$headerFooter: #003459;
$backdrop: #007EA7;
$lighter: #00A8E8;
$green-ish: $backdrop;
$myWarn: #a73500;

$sidenavMaxwidth: 400px;

// https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
//$headerFooter: #0096c7;
//$backdrop: #00b4d8;
//$white-ish: #FFF;
//$green-ish: #00b4d8;

// https://coolors.co/555b6e-89b0ae-bee3db-faf9f9-ffd6ba
//$backdrop: #BEE3DB;
//$headerFooter: #89B0AE;
//$green: #BEE3DB;
//$white-ish: #FAF9F9;


